# Copy to .env.local and fill in your values

# Required for Next Auth
AUTH_SECRET=replace-with-openssl-rand-base64-32
AUTH_URL=http://localhost:3000

# Backend API
NEXT_PUBLIC_API_BASE_URL=https://api-dev.alkhafeef.com.sa
NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_BASIC_AUTH=QWxraGFmZWVmOkFsa2hhZmVlZkAxMjM=
NEXT_PUBLIC_RSA_PUBLIC_KEY=
